* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
}

.bg {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 450px;
  height: 100vh;
  margin: 0 auto;
  background: url(./images/game_bg.jpg) no-repeat 0 0/100% 100%;
}

.bg .start .startBox {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
}

.bg .start .score {
  position: absolute;
  top: 10px;
  left: 75px;
  font-size: 36px;
  color: #e4fbff;
}

.bg .start .schebule {
  position: absolute;
  top: 13.7%;
  left: 19.6%;
  width: 56.5%;
  height: 3.4%;
  border-radius: 100px;
  background: url("./images/progress.png") no-repeat 0 0/cover;
}

.bg .start .scoreBtn {
  position: absolute;
  bottom: 145px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 50px;
  width: 50%;
  font-size: 20px;
  text-align: center;
  background: #f00;
  color: #fff;
  border-radius: 100px;
}

.bg .start .ruleBtn {
  position: absolute;
  bottom: 0;
  margin: 0;
  background: rgba(238, 238, 238, 0.7);
  text-align: center;
  width: 100%;
  line-height: 24px;
}

.bg .rule {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

.bg .rule .box {
  position: absolute;
  top: 120px;
  width: 100%;
}

.bg .rule .box p {
  text-align: center;
  font-size: 22px;
  color: #fff;
  line-height: 50px;
}

.bg .rule .box .btn {
  margin: 50px auto;
  width: 100%;
  text-align: center;
  color: #f00;
  font-size: 22px;
}

.bg .over {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

.bg .over h1 {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #ff4500;
  text-shadow: 3px 3px 0 #fff;
  font-size: 45px;
}

.bg .over .btn {
  position: absolute;
  bottom: 245px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 50px;
  width: 50%;
  font-size: 20px;
  text-align: center;
  background: #007DDC;
  color: #fff;
  border-radius: 100px;
}

.bg .gaming img {
  width: 180px;
  position: absolute;
}

/*

 
   
    left: 4.8%;
    top: 59.3%;

    left: 59.8%;
    top: 60%;

    left: 32.8%;
    top: 55.2%;
    */
